<template>
    <transition enter-active-class="first-box-transition fadeIn"
                leave-active-class="first-box-transition fadeOut">
        <div v-if="article && article.id" class="box content is-clearfix">
            <h1 v-if="!editMode">
                {{ article.title }}
            </h1>
            <div class="field" v-if="editMode">
                <p class="control">
                    <input type="text" class="input is-medium" v-model="newTitle">
                </p>
            </div>
            <div class="field" v-if="editMode">
                <p class="control">
                    <textarea ref="articleTextarea" class="textarea" v-model="newContent"></textarea>
                </p>
            </div>
            <vue-markdown v-if="!editMode" :source="article.content"></vue-markdown>
            <div class="level">
                <div class="level-left">
                    <div class="level-item">
                        <span style="margin-right: 2px;">
                            by
                        </span>
                        <router-link :to="{ name: 'user', params: { id: article.user.id }}">
                            {{ article.user.name }}
                        </router-link>
                        <span style="margin-left: 5px;">
                            | <i class="fa fa-clock-o" aria-hidden="true"></i> {{ time }}
                            | <i class="fa fa-eye" aria-hidden="true"></i>
                                {{ users.length }} {{ users.length | pluralize('user') }} reading this
                        </span>
                    </div>
                </div>
                <div v-if="hasRightsForArticle" class="level-right">
                    <div v-if="!editMode" class="level-item">
                        <a @click="makeEditable" class="button is-primary">Edit</a>
                    </div>
                    <div v-if="!editMode" class="level-item">
                        <a @click="deleteArticle" class="button is-danger">Delete</a>
                    </div>
                    <div v-if="editMode" class="level-item">
                        <a @click="editArticle" class="button is-danger">Save</a>
                    </div>
                    <div v-if="editMode" class="level-item">
                        <a @click="cancelEditArticle" class="button is-info">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</template>

<script>
    export default {
        props: ['articleId'],

        data() {
            return {
                article: {},
                newTitle: '',
                newContent: '',
                users: [],
                editMode: false
            }
        },

        computed: {
            hasRightsForArticle() {
                return _.some(this.$store.state.user.roles, {id: 1}) ||
                    this.article.user.id === this.$store.state.user.id
            },

            time() {
                return `${this.$moment(this.article.created_at).fromNow()}
                ${ this.articleEdited ? `(updated ${this.$moment(this.article.updated_at).fromNow()})` : '' }`
            },

            articleEdited() {
                return this.article.created_at !== this.article.updated_at
            }
        },

        created() {
            this.getArticle()

            Echo.join(`article-room.${this.articleId}`)
                .listen('Article.ArticleUpdated', (updatedArticle) => {
                    this.article = updatedArticle.article
                })
                .listen('Article.ArticleDeleting', () => {
                    this.$router.push({ name: 'home'})
                })
                .here((users) => {
                    this.users = users
                })
                .joining((user) => {
                    this.users.push(user)
                })
                .leaving((user) => {
                    this.users.pop(user)
                })
        },

        beforeDestroy() {
            Echo.leave(`article-room.${this.articleId}`)
        },

        watch: {
            articleId: function() {
                this.getArticle()
            }
        },

        methods: {
            getArticle() {
                this.$Progress.start()

                axios.get(`/api/articles/${this.articleId}`)
                    .then(response => {
                        this.article = response.data
                        this.$Progress.finish()
                        this.$emit('article-loaded')
                    })
            },

            deleteArticle() {
                if(!confirm('Are you sure?')) return

                axios.delete(`/api/articles/${this.articleId}`)
            },

            editArticle() {
                axios.patch(`/api/articles/${this.articleId}`, { title: this.newTitle, content: this.newContent })
                    .then(response => {
                        this.article = response.data
                        this.editMode = false
                    })
            },

            makeEditable() {
                this.newTitle = this.article.title
                this.newContent = this.article.content
                this.editMode = true
                setTimeout(() => { autosize(this.$refs.articleTextarea) }, 500)
            },

            cancelEditArticle() {
                this.editMode = false
            }
        }
    }
</script>
