<template>
    <div>
        <article-modal @article-created="createArticle"></article-modal>
        <transition appear-active-class="first-box-transition fadeIn" appear>
            <div>
                <div class="block" v-if="hasRightsForArticle">
                    <a class="button is-primary is-fullwidth" @click="showArticlesModal">Create an article</a>
                </div>
                <h4 class="title is-4 has-text-centered"
                    v-if="typeof articles.data === 'object' && articles.data.length === 0">
                    No news, yet.
                </h4>
                <transition-group enter-class="articles-enter"
                                  enter-active-class="animated fadeIn"
                                  tag="div">
                    <div class="box content" v-for="article in articles.data" :key="article">
                        <router-link :to="{ name: 'article', params: { id: article.id  }}" tag="span">
                            <h3>
                                <a>{{ article.title }}</a>
                            </h3>
                        </router-link>
                        <p class="article-content">
                            <vue-markdown :source="article.content"></vue-markdown>
                        </p>
                        <div class="level">
                            <div class="level-left">
                                <p>
                                    <span class="fa fa-comments"></span>
                                    {{ article.messagesCount }} {{ article.messagesCount | pluralize('message')}}
                                </p>
                            </div>
                            <div class="level-right">
                                <p>
                                    <router-link :to="{ name: 'user', params: { id: article.user.id }}">
                                        {{ article.user.name }}
                                    </router-link>
                                    | {{ $moment(article.created_at).fromNow() }}
                                    <span style="color: #8c8c8c" v-if="articleEdited(article)">
                                        (updated {{ $moment(article.updated_at).fromNow() }})
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </transition-group>
                <br>
                <pagination :data="articles" :limit="4" @pagination-change-page="getArticles"></pagination>
            </div>
        </transition>
    </div>
</template>

<script>
    import Pagination from '../Pagination'
    import ArticleModal from './Modal'

    export default {
        components: {
            'pagination' : Pagination,
            'article-modal': ArticleModal
        },

        data() {
            return {
                articles: {
                    data: ''
                }
            }
        },

        computed: {
            hasRightsForArticle() {
                return _.some(this.$store.state.user.roles, {id: 1})
            }
        },

        created() {
            this.getArticles()

            Echo.channel('articles')
                .listen('Article.ArticleCreated', (newArticle) => {
                    this.articles.data.unshift(newArticle.article)
                    if (this.articles.data.length > 5) {
                        // noinspection JSPrimitiveTypeWrapperUsage
                        this.articles.data.length = 5
                    }
                })
                .listen('Article.ArticleUpdated', (updatedArticle) => {
                    let foundArticle = _.find(this.articles.data, article => article.id === updatedArticle.article.id)
                    if(typeof foundArticle === 'undefined') return
                    foundArticle.title = updatedArticle.article.title
                    foundArticle.content = updatedArticle.article.content
                    foundArticle.messagesCount = updatedArticle.article.messagesCount
                })
                .listen('Article.ArticleDeleting', (deletedArticle) => {
                    let index = _.findIndex(this.articles.data, article => article.id === deletedArticle.articleId)
                    if(index === -1) return
                    this.articles.data.splice(index, 1)
                })
        },

        beforeDestroy() {
            Echo.leave('articles')
        },

        methods: {
            getArticles(page) {
                if (typeof page === 'undefined') {
                    page = 1;
                }

                this.$Progress.start()

                axios.get(`/api/articles?page=${page}`)
                    .then(response => {
                        this.articles = response.data
                        this.$Progress.finish()
                    })
            },

            showArticlesModal() {
                this.$eventBus.$emit('articles-modal-show')
            },

            createArticle(article) {
                this.articles.data.unshift(article)
            },

            articleEdited(article) {
                return article.created_at !== article.updated_at
            }
        }
    }
</script>

<style>
    .articles-enter  {
        position: absolute;
    }

    .fa {
        vertical-align: baseline;
    }

    .article-content {
        max-height: 400px;
        overflow: hidden;
        position: relative;
    }

    .article-content:before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background: linear-gradient(transparent 250px, white);
    }
</style>
