<template>
    <article class="media">
        <figure class="media-left">
            <p class="image is-64x64">
                <img :src="$store.state.user.avatar">
            </p>
        </figure>
        <div class="media-content">
            <div class="field is-horizontal">
                <div class="field-body">
                    <div class="field">
                        <p class="control">
                            <textarea v-model="message" class="textarea" placeholder="Enter a message..."></textarea>
                        </p>
                    </div>
                </div>
            </div>
            <div class="field is-horizontal">
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <button class="button is-info"
                                    :class="{ 'is-disabled' : !haveSymbolsInMessage }"
                                    @click="sendMessage">
                                Send message
                              </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</template>

<script>
    export default {
        props: ['articleId'],

        data() {
            return {
                message: ''
            }
        },

        computed: {
            haveSymbolsInMessage() {
                return this.message.length >= 3
            }
        },

        methods: {
            sendMessage() {
                if(!this.haveSymbolsInMessage) return

                this.$Progress.start()

                axios.post(`/api/articles/${this.articleId}/messages`, { text: this.message })
                    .then(response => {
                        this.$Progress.finish()
                        this.$emit('message-sent', response.data)
                        this.message = ''
                    })
            }
        }
    }
</script>
