<template>
    <div v-if="showMessages">
        <transition enter-active-class="first-box-transition fadeIn">
            <div v-if="typeof messages.data === 'object'">
                <div class="box">
                    <h4 class="title is-4">Comments</h4>
                    <h4 class="title is-4" v-if="messages.data.length === 0">There are no comments yet.</h4>
                    <transition-group enter-class="messages-enter"
                                      enter-active-class="animated fadeIn"
                                      leave-active-class="message-leave-active"
                                      leave-to-class="message-leave-to"
                                      tag="div">
                        <message v-for="message in messages.data" @message-deleted="deleteMessage(message.id)"
                                 :key="message" :message="message"></message>
                    </transition-group>
                </div>
                <pagination :data="messages" :limit="3" @pagination-change-page="getMessages"></pagination>
            </div>
        </transition>
        <br>
        <transition enter-active-class="second-box-transition fadeIn">
            <message-box @message-sent="addMessage"
                         :article-id="articleId"
                         v-if="typeof messages.data === 'object'">
            </message-box>
        </transition>
    </div>
</template>

<script>
    import Message from './Message'
    import MessageBox from './MessageBox'
    import Pagination from '../Pagination'

    export default {
        components: {
            'message'  : Message,
            'pagination' : Pagination,
            'message-box' : MessageBox
        },

        props: ['articleId'],

        data() {
            return {
                messages: {
                    data: ''
                },
                showMessages: false
            }
        },

        created() {
            this.getMessages()
            this.$on('article-loaded', this.showMessages = true)

            Echo.join(`article-room.${this.articleId}`)
                .listen('Message.MessageCreated', (newMessage) => {
                    this.addMessage(newMessage.message)
                })
                .listen('Message.MessageUpdated', (updatedMessage) => {
                    let foundMessage = _.find(this.messages.data, message => message.id === updatedMessage.message.id)
                    if(typeof foundMessage === 'undefined') return
                    foundMessage.text = updatedMessage.message.text
                })
                .listen('Message.MessageDeleting', (messageToDelete) => {
                    this.deleteMessage(messageToDelete.messageId)
                })
        },

        beforeDestroy() {
            Echo.leave(`article-room.${this.articleId}`)
        },

        watch: {
            articleId: function() {
                this.getMessages()
            }
        },

        methods: {
            getMessages(page) {
                if (typeof page === 'undefined') {
                    page = 1
                }

                this.$Progress.start()

                axios.get(`/api/articles/${this.articleId}/messages?page=${page}`)
                    .then(response => {
                        this.messages = response.data
                        this.$Progress.finish()
                    })
            },

            addMessage(message) {
                this.messages.data.unshift(message)
                if (this.messages.data.length > 10) {
                    this.messages.data.length = 10
                }
            },

            deleteMessage(id) {
                let index = _.findIndex(this.messages.data, message => message.id === id)
                if(index === -1) return
                this.messages.data.splice(index, 1)
            }
        }
    }
</script>

<style>
    .messages-enter  {
        position: absolute;
    }

    .message-leave-active {
        transition: all .5s ease-out;
    }

    .message-leave-to {
        height: 0px;
        magrin: 0px;
        padding: 0px;
        opacity: 0;
    }
</style>
