<template>
    <article class="media message-line">
        <figure class="media-left">
            <p class="image is-32x32">
                <img :src="message.user.avatar">
            </p>
        </figure>
        <div class="media-content">
            <div class="content">
                <strong>
                    <router-link :to="{ name: 'user', params: { id: message.user.id  }}">
                        {{ message.user.name }}
                    </router-link>
                </strong> said:
                <p class="control" v-if="editMode">
                    <textarea class="textarea" v-model="newText"></textarea>
                </p>
                <vue-markdown v-if="!editMode" :source="message.text"></vue-markdown>
                <small>{{ $moment(message.created_at).fromNow() }}</small>
            </div>
        </div>
        <div v-if="hasRightsForMessage" class="media-right message-buttons">
            <a class="button is-small is-primary" v-if="!editMode" @click="makeEditable">
                <i class="fa fa-pencil" aria-hidden="true"></i>
            </a>
            <a class="button is-small is-danger" v-if="!editMode" @click="deleteMessage">
                <i class="fa fa-trash" aria-hidden="true"></i>
            </a>
            <a class="button is-small is-primary" v-if="editMode" @click="editMessage">
                <i class="fa fa-save" aria-hidden="true"></i>
            </a>
            <a class="button is-small is-danger" v-if="editMode" @click="cancelEditMessage">
                <i class="fa fa-times" aria-hidden="true"></i>
            </a>
        </div>
    </article>
</template>

<script>
    export default {
        props: ['message'],

        data() {
            return {
                newText: '',
                editMode: false,
                hovered: false
            }
        },

        computed: {
            hasRightsForMessage() {
                if(_.some(this.$store.state.user.roles, {id: 1}) || _.some(this.$store.state.user.roles, {id: 2})) {
                    return true
                }

                return this.message.user.id === this.$store.state.user.id
                    && this.$moment(this.message.created_at) > this.$moment().subtract(10, 'minutes')
            },
        },

        methods: {
            editMessage() {
                axios.patch(`/api/messages/${this.message.id}`, { text: this.newText })
                    .then(response => {
                        this.message.text = response.data.text
                        this.editMode = false
                    })
            },

            deleteMessage() {
                if(!confirm('Are you sure?')) return

                axios.delete(`/api/messages/${this.message.id}`)
                    .then(() => {
                        this.$emit('message-deleted')
                    })
            },

            makeEditable() {
                this.newText = this.message.text
                this.editMode = true
            },

            cancelEditMessage() {
                this.editMode = false
            },
        }
    }
</script>

<style>
    .message-buttons {
        opacity: 0;
        transition: opacity .2s;
    }

    .message-line:hover > .message-buttons {
        opacity: 1;
    }
</style>
