<template>
    <transition enter-active-class="modal-box-transition fadeIn" leave-active-class="modal-box-transition fadeOut">
        <div class="modal is-active" v-if="isShown">
            <div class="modal-background"></div>
            <div class="modal-card article-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">Create an article</p>
                    <button class="delete" @click="closeModal"></button>
                </header>
                <section class="modal-card-body">
                    <div class="field">
                        <p class="control">
                            <input v-model="title" class="input" type="text" placeholder="Enter title">
                        </p>
                    </div>
                    <div class="field">
                        <p class="control">
                            <textarea v-model="content" class="textarea article-textarea" placeholder="Content there">
                            </textarea>
                        </p>
                    </div>
                </section>
                <footer class="modal-card-foot">
                    <a class="button is-success" @click="createArticle">Create</a>
                    <a class="button" @click="closeModal">Cancel</a>
                </footer>
            </div>
        </div>
    </transition>
</template>

<script>
    export default {
        data() {
            return {
                title: '',
                content: '',
                isShown: false
            }
        },

        created() {
            this.$eventBus.$on('articles-modal-show', () => { this.isShown = true })
        },

        methods: {
            createArticle() {
                this.$Progress.start()

                axios.post('/api/articles', { title: this.title, content: this.content })
                    .then(response => {
                        this.isShown = false
                        this.title = this.content = ''
                        this.$emit('article-created', response.data)
                        this.$Progress.finish()
                    })
            },

            closeModal() {
                this.isShown = false
            }
        }
    }
</script>

<style>
    .article-card {
        width: calc(100vw - 10vw);
    }

    .article-textarea {
        height: calc(100vh - 60vh);
    }
</style>
