<template>
    <nav class="nav">
        <div class="container">
            <div class="nav-left">
                <div class="nav-item">
                    <img src="/images/logo-smallest.png">
                </div>
                <router-link class="nav-item is-tab" to="/home" exact>
                    <a>Home</a>
                </router-link>
                <router-link class="nav-item is-tab" to="/lobbies" exact>
                    <a>Lobbies</a>
                </router-link>
                <router-link class="nav-item is-tab" to="/matches" exact>
                    <a>Matches</a>
                </router-link>
                <router-link class="nav-item is-tab" to="/ranks" exact>
                    <a>Ranks</a>
                </router-link>
            </div>
            <span class="nav-toggle" @click="collapseMenu = !collapseMenu">
                <span></span>
                <span></span>
                <span></span>
            </span>
            <div class="nav-right nav-menu" :class="{ 'is-active' : collapseMenu }">
                <a class="nav-item">
                    <transition enter-active-class="first-box-transition fadeInDown"
                                leave-active-class="first-box-transition fadeOutUp">
                        <span v-if="$root.user.match" class="tag is-dark">
                            <span @click="goToCurrentMatch">In match {{ $root.user.match.id }}</span>
                        </span>
                    </transition>
                    <transition enter-active-class="first-box-transition fadeInDown"
                                leave-active-class="first-box-transition fadeOutUp">
                        <span v-if="$root.user.lobby" class="tag is-dark">
                            <span @click="goToCurrentLobby">
                                In lobby {{ $root.user.lobby.id }}
                                ({{ $root.user.lobby.users.length }} / {{ $root.user.lobby.game_info.users_need }})
                            </span>
                            <button title="Leave current lobby"
                                    v-if="$root.userCanJoinOrLeaveLobby"
                                    @click="leaveCurrentLobby"
                                    class="delete is-small"></button>
                        </span>
                    </transition>
                    <figure class="image is-32x32" style="margin-right: 8px;">
                        <img :src="$root.user.avatar" style="max-height: none; border-radius: 16px;">
                    </figure>
                    <router-link :to="{ name: 'user', params: { id: $root.user.id  }}">
                        <span v-text="$root.user.name"></span>
                    </router-link>
                </a>
                <a @click="logout" class="nav-item">Logout</a>
            </div>
        </div>
    </nav>
</template>

<script>
    export default {
        data() {
            return {
                collapseMenu: false
            }
        },

        methods: {
            logout() {
                axios.post('/auth/logout')
                    .then(() => { window.location = '/' })
            },

            leaveCurrentLobby() {
                axios.post(`/api/lobbies/${this.$root.user.lobby.id}/leave`)
                    .then(() => {
                        if(this.$route.name === 'lobby' && this.$route.params.id === this.$root.user.lobby.id) {
                            this.$router.push({ name: 'lobbies' })
                        }
                        this.$eventBus.$emit('user-left-lobby', this.$root.user.lobby)
                    })
            },

            goToCurrentLobby() {
                this.$router.push({ name: 'lobby', params: { id: this.$root.user.lobby.id }})
            },

            goToCurrentMatch() {
                this.$router.push({name: 'match', params: {id: this.$root.user.match.id}})
            }
        }
    }
</script>
