<template>
    <nav class="pagination is-centered" v-if="data.total > data.per_page">
        <a v-if="data.prev_page_url"
           @click.prevent="selectPage(--data.current_page)"
           class="pagination-previous">
            Previous
        </a>
        <a v-if="data.next_page_url"
           @click.prevent="selectPage(++data.current_page)"
           class="pagination-next">
            Next page
        </a>
        <ul class="pagination-list">
            <li v-for="n in getPages()">
                <a class="pagination-link"
                   :class="{ 'is-current' : n === data.current_page }"
                   @click.prevent="selectPage(n)">
                    {{ n }}
                </a>
            </li>
        </ul>
    </nav>
</template>

<script>
    export default {
        props: {
            data: {
                type: Object,
                default: {
                    total: 0,
                    per_page: 10,
                    current_page: 1,
                    last_page: 1,
                    next_page_url: null,
                    prev_page_url: null,
                    from: 1,
                    to: 1,
                    data: []
                }
            },
            limit: {
                type: Number,
                default: 0
            }
        },

        methods: {
            selectPage(page) {
                this.$emit('pagination-change-page', page)
            },

            getPages() {
                if (this.limit === -1) {
                    return 0
                }

                if (this.limit === 0) {
                    return this.data.last_page
                }

                let start = this.data.current_page - this.limit,
                    end   = this.data.current_page + this.limit + 1,
                    pages = [],
                    index

                start = start < 1 ? 1 : start
                end   = end >= this.data.last_page ? this.data.last_page + 1 : end

                for (index = start; index < end; index++) {
                    pages.push(index)
                }

                return pages
            }
        }
    }
</script>