<template>
    <transition enter-active-class="modal-box-transition fadeIn"
                leave-active-class="modal-box-transition fadeOut">
        <div class="modal is-active" v-if="isShown">
            <div class="modal-background"></div>
            <div class="modal-content">
                <div class="box">
                    <h3 class="title is-3">Your rank is {{ tweeningValue }} now. Congrats!</h3>
                </div>
            </div>
            <button class="modal-close" @click="isShown = false"></button>
        </div>
    </transition>
</template>

<script>
    export default {
        data() {
            return {
                value: 0,
                tweeningValue: 0,
                isShown: false
            }
        },

        watch: {
            value: function (newValue, oldValue) {
                this.tween(oldValue, newValue)
            }
        },

        created() {
            this.$eventBus.$on('rank-board-show', (rank) => {
                this.isShown = true
                this.value = rank
            })
        },

        methods: {
            tween(startValue, endValue) {
                let vm = this
                let animationFrame

                function animate (time) {
                    TWEEN.update(time)
                    animationFrame = requestAnimationFrame(animate)
                }

                new TWEEN.Tween({ tweeningValue: startValue })
                    .to({ tweeningValue: endValue }, 500)
                    .onUpdate(function () {
                        vm.tweeningValue = this.tweeningValue.toFixed(0)
                    })
                    .onComplete(function () {
                        cancelAnimationFrame(animationFrame)
                    })
                    .start()

                animationFrame = requestAnimationFrame(animate)
            }
        }
    }
</script>
