<template>
    <div class="field">
        <p class="control">
            <input class="input is-medium" v-model="keyword" type="text" :placeholder="placeholder">
        </p>
    </div>
</template>

<script>
    export default {
        props: ['path', 'placeholder'],

        data() {
            return {
                keyword: ''
            }
        },

        watch: {
            keyword: function (newValue) {
                this.search(newValue)
            }
        },

        methods: {
            search: _.debounce (function() {
                if(this.keyword.length >= 3) {
                    this.$emit('search-changed', `/api/${this.path}/search?keyword=${this.keyword}`)
                }

                if(this.keyword.length === 0) {
                    this.$emit('search-empty')
                }
            }, 750)
        }
    }
</script>
