<template>
    <transition enter-active-class="first-box-transition fadeIn"
                leave-active-class="first-box-transition fadeOut">
        <section v-if="lobby && lobby.id">
            <div class="box is-paddingless">
                <img :src="$store.getters.getMap(lobby.game_info.map).image" class="image">
                <br>
                <div class="level is-mobile">
                    <div class="level-item has-text-centered">
                        <div>
                            <p class="heading">Region</p>
                            <p class="title">{{ $store.getters.getRegion(lobby.game_info.server.region).text }}</p>
                        </div>
                    </div>
                    <div class="level-item has-text-centered">
                        <div>
                            <p class="heading">Mode</p>
                            <p class="title">{{ $store.getters.getMode(lobby.game_info.mode).text }}</p>
                        </div>
                    </div>
                </div>
                <transition enter-active-class="modal-box-transition fadeIn"
                            leave-active-class="modal-box-transition fadeOut">
                    <div v-if="lobby.users.length > 0" style="border-top: 1px solid #eee; border-bottom: 1px solid #eee;">
                        <table class="table is-striped is-marginless">
                            <thead>
                                <tr><th>Players</th></tr>
                            </thead>
                            <transition-group enter-active-class="animated fadeIn"
                                              tag="tbody">
                                <tr v-for="user in lobby.users" :key="user">
                                    <td>{{ user.name }}</td>
                                </tr>
                            </transition-group>
                        </table>
                    </div>
                </transition>
                <br>
                <div class="has-text-centered" v-if="$root.userCanJoinOrLeaveLobby">
                    <a v-if="!userInLobby && !lobbyIsFull"
                       @click="joinLobby"
                       class="button is-primary is medium is-outlined">
                        Join this lobby
                    </a>
                    <a v-if="userInLobby && !lobbyIsFull"
                       @click="leaveLobby"
                       class="button is-danger is medium is-outlined">
                        Leave this lobby
                    </a>
                </div>
                <br>
            </div>
        </section>
    </transition>
</template>

<script>
    export default {
        props: ['lobbyId'],

        data() {
            return {
                lobby: {}
            }
        },

        computed: {
            userInLobby() {
                return _.some(this.lobby.users, { id: this.$store.state.user.id })
            },

            lobbyIsFull() {
                return this.lobby.users.length >= this.lobby.game_info.users_need
            }
        },

        created() {
            this.getLobby()

            if(!this.userInLobby) {
                Echo.join(`lobby-room.${this.lobbyId}`)
                    .listen('Lobby.LobbyUpdated', (updatedLobby) => {
                        this.lobby = updatedLobby.lobby
                    })
                    .listen('Lobby.LobbyDeleting', () => {
                        if(!this.userInLobby) this.$router.push({name: 'lobbies'})
                    })
            }
        },

        beforeDestroy() {
            if(!this.userInLobby && this.lobby && this.lobbyId) {
                Echo.leave(`lobby-room.${this.lobbyId}`)
            }
        },

        watch: {
            lobbyId: function() {
                this.getLobby()
            }
        },

        methods: {
            getLobby() {
                axios.get(`/api/lobbies/${this.lobbyId}`)
                    .then(response => {
                        this.lobby = response.data
                        this.$Progress.increase(50)
                        this.$eventBus.$emit('lobby-loaded', this.lobby)
                    })
            },

            joinLobby() {
                axios.post(`/api/lobbies/${this.lobbyId}/join`)
                    .then(response => {
                        this.$eventBus.$emit('user-joined-lobby', response.data)
                    })
            },

            leaveLobby() {
                axios.post(`/api/lobbies/${this.lobbyId}/leave`)
                    .then(response => {
                        this.$eventBus.$emit('user-left-lobby', response.data)
                        this.$router.push({ name: 'lobbies' })
                    })
            }
        }
    }
</script>
