<template>
    <div>
        <lobbies-modal></lobbies-modal>
        <transition appear-active-class="first-box-transition fadeIn" appear>
            <div>
                <transition enter-active-class="first-box-transition fadeIn">
                    <a v-if="typeof lobbies.data === 'object' && !$store.state.user.lobby && !$store.state.user.match"
                       class="button is-medium is-primary is-outlined is-fullwidth"
                       style="margin-bottom: 24px;"
                       @click="showLobbiesModal">
                        Create a lobby
                    </a>
                </transition>
                <transition enter-active-class="first-box-transition fadeIn">
                    <div v-if="typeof lobbies.data === 'object'" class="box">
                        <h4 class="title is-4 has-text-centered is-marginless" v-if="lobbies.data.length === 0">
                            There are no lobbies created yet. Be first, create one!
                        </h4>
                        <transition-group enter-class="lobbies-enter"
                                          enter-active-class="animated fadeIn"
                                          tag="div">
                            <div class="box lobby-line" v-for="lobby in lobbies.data" :key="lobby">
                                <div class="level is-mobile">
                                    <div class="level-item has-text-centered">
                                        <div>
                                            <p class="heading">Lobby</p>
                                            <p>
                                                <router-link :to="{ name: 'lobby', params: { id: lobby.id }}">
                                                    #{{ lobby.id }}
                                                </router-link>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="level-item has-text-centered">
                                        <div>
                                            <p class="heading">Map</p>
                                            <p>{{ $store.getters.getMap(lobby.game_info.map).text }}</p>
                                        </div>
                                    </div>
                                    <div class="level-item has-text-centered">
                                        <div>
                                            <p class="heading">Mode</p>
                                            <p>{{ $store.getters.getMode(lobby.game_info.mode).text }}</p>
                                        </div>
                                    </div>
                                    <div class="level-item has-text-centered">
                                        <div>
                                            <p class="heading">Region</p>
                                            <p>{{ $store.getters.getRegion(lobby.game_info.server.region).text }}</p>
                                        </div>
                                    </div>
                                    <div class="level-item has-text-centered">
                                        <div>
                                            <p class="heading">Users</p>
                                            <p>{{ lobby.users.length }} / {{ lobby.game_info.users_need }}</p>
                                        </div>
                                    </div>
                                    <div class="level-right" v-if="$root.userCanJoinOrLeaveLobby">
                                        <div v-if="!userInLobby(lobby)"
                                             @click="joinLobby(lobby)"
                                             class="button is-primary">
                                            Join
                                        </div>
                                        <div v-if="userInLobby(lobby)"
                                             @click="leaveLobby(lobby)"
                                             class="button is-danger">
                                            Leave
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </transition-group>
                        <br v-if="lobbies.data.length > 0">
                        <pagination :data="lobbies" :limit="-1" @pagination-change-page="getLobbies"></pagination>
                    </div>
                </transition>
            </div>
        </transition>
    </div>
</template>

<script>
    import Pagination from '../Pagination'
    import LobbiesModal from './Modal'

    export default {
        components: {
            'pagination': Pagination,
            'lobbies-modal' : LobbiesModal
        },

        data() {
            return {
                lobbies: {
                    data: ''
                }
            }
        },

        created() {
            this.getLobbies()

            Echo.channel('lobbies')
                .listen('Lobby.LobbyCreated', (newLobby) => {
                    this.lobbies.data.unshift(newLobby.lobby)
                    if (this.lobbies.data.length > 5) {
                        // noinspection JSPrimitiveTypeWrapperUsage
                        this.lobbies.data.length = 5
                    }
                })
                .listen('Lobby.LobbyUpdated', (updatedLobby) => {
                    let foundLobby = _.find(this.lobbies.data, lobby => lobby.id === updatedLobby.lobby.id)
                    if(typeof foundLobby === 'undefined') return
                    foundLobby.users = updatedLobby.lobby.users
                })
                .listen('Lobby.LobbyDeleting', (lobbyToDelete) => {
                    let index = _.findIndex(this.lobbies.data, lobby => lobby.id === lobbyToDelete.lobbyId)
                    if(index === -1) return
                    this.lobbies.data.splice(index, 1)
                })
        },

        beforeDestroy() {
            Echo.leave('lobbies')
        },

        methods: {
            getLobbies(page) {
                if (typeof page === 'undefined') {
                    page = 1
                }

                axios.get(`/api/lobbies?page=${page}`)
                    .then(repsonse => {
                        this.lobbies = repsonse.data
                        this.$Progress.increase(50)
                    })
            },

            userInLobby(lobby) {
                return this.$store.state.user.lobby && this.$store.state.user.lobby.id === lobby.id
            },

            joinLobby(lobby) {
                axios.post(`/api/lobbies/${lobby.id}/join`)
                    .then(response => {
                        this.$router.push({name: 'lobby', params: {id: response.data.id}})
                        this.$eventBus.$emit('user-joined-lobby', response.data)
                    })
                    .catch(error => {
                        iziToast.error({
                            title: 'Whoops',
                            message: error.response.data.message,
                        })
                    })
            },

            leaveLobby(lobby) {
                axios.post(`/api/lobbies/${lobby.id}/leave`)
                    .then(response => {
                        this.$eventBus.$emit('user-left-lobby', response.data)
                    })
            },

            showLobbiesModal() {
                this.$eventBus.$emit('lobbies-modal-show')
            }
        }
    }
</script>

<style>
    .lobbies-enter  {
        position: absolute;
    }

    .lobby-line {
        padding: 5px 10px 5px 5px;
    }
</style>
