<template>
    <transition enter-active-class="modal-box-transition fadeIn"
                leave-active-class="modal-box-transition fadeOut">
        <div class="modal is-active" v-if="isShown">
            <div class="modal-background" @click="closeModal"></div>
            <div class="modal-card lobby-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">Create a lobby</p>
                    <button class="delete" @click="closeModal"></button>
                </header>
                <section class="modal-card-body">
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Map</label>
                        </div>
                        <div class="field-body">
                            <div class="field is-narrow">
                                <div class="control">
                                    <div class="select is-fullwidth">
                                        <select v-model="selectedMap" title="Map">
                                            <option v-for="map in maps" :value="map.value">
                                                {{ map.text }}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Mode</label>
                        </div>
                        <div class="field-body">
                            <div class="field is-narrow">
                                <div class="control">
                                    <div class="select is-fullwidth">
                                        <select v-model="selectedMode" title="Mode">
                                            <option v-for="mode in modes" :value="mode">
                                                {{ mode.text }}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Region</label>
                        </div>
                        <div class="field-body">
                            <div class="field is-narrow">
                                <div class="control">
                                    <div class="select is-fullwidth">
                                        <select v-model="selectedRegion" title="Region">
                                            <option v-for="region in regions" :value="region.value">
                                                {{ region.text }}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <footer class="modal-card-foot">
                    <a class="button is-success" @click="createLobby">Create</a>
                    <a class="button" @click="closeModal">Cancel</a>
                </footer>
            </div>
        </div>
    </transition>
</template>

<script>
    export default {
        data() {
            return {
                isShown: false,
                selectedMap: 'dark_carnival',
                selectedMode: '',
                selectedRegion: 'eu'
            }
        },

        computed: {
            maps() {
                return _.filter(this.$store.state.gameInfo.maps, map => map.value !== undefined)
            },

            modes() {
                return _.filter(this.$store.state.gameInfo.modes, mode => mode.value !== undefined)
            },

            regions() {
                return _.filter(this.$store.state.gameInfo.regions, region => region.value !== undefined)
            }
        },

        created() {
            this.selectedMode = this.modes[0]
            this.$eventBus.$on('lobbies-modal-show', () => { this.isShown = true })
        },

        methods: {
            createLobby() {
                axios.post('/api/lobbies', {
                    map: this.selectedMap,
                    region: this.selectedRegion,
                    mode: this.selectedMode.value,
                    users_need: this.selectedMode.usersNeed
                }).then(response => {
                    this.isShown = false
                    axios.post(`/api/lobbies/${response.data.id}/join`)
                        .then(response => {
                            this.$eventBus.$emit('user-joined-lobby', response.data)
                            this.$router.push({name: 'lobby', params: {id: response.data.id}})
                        })
                }).catch(error => {
                    iziToast.error({
                        title: 'Whoops',
                        message: error.response.data.message,
                    })
                })
            },

            closeModal() {
                this.isShown = false
            }
        }
    }
</script>

<style>
    .lobby-card {
        max-width: 500px;
    }
</style>
