<template>
    <div>
        <transition enter-active-class="first-box-transition fadeIn"
                    leave-active-class="first-box-transition fadeOut">
            <div v-if="users.length > 0" class="users-box box is-paddingless">
                <h3 class="box-title has-text-centered">
                    {{ this.users.length }} {{ this.users.length | pluralize('user') }} in this room
                </h3>
                <transition-group enter-active-class="animated fadeIn"
                                  leave-active-class="animated fadeOut" tag="div" class="users-list">
                    <router-link :to="{ name: 'user', params: { id: user.id } }"
                                 class="tag is-dark" v-for="user in users"
                                 :key="user"tag="span">
                        {{ user.name }}
                    </router-link>
                </transition-group>
            </div>
        </transition>
        <transition enter-active-class="second-box-transition fadeIn"
                    leave-active-class="second-box-transition fadeOut">
            <div v-if="room && room.id && users.length > 0" class="chat-box box is-paddingless">
                <h3 class="box-title has-text-centered">{{ room.name }} chat room</h3>
                <div ref="chatLog" @DOMNodeInserted="scrollLogDown" class="chat-log">
                    <table class="table is-marginless">
                        <transition-group enter-active-class="animated fadeInUp"
                                          leave-active-class="message-leave-active"
                                          leave-to-class="message-leave-to"
                                          tag="tbody">
                            <message v-for="message in messages"
                                     @mention="mentionUser(message.user.name)"
                                     @message-deleted="deleteMessage(message.id)"
                                     :key="message" :message="message"></message>
                        </transition-group>
                    </table>
                </div>
                <div class="field has-addons chat-input" ref="messageInput">
                    <p class="control is-expanded">
                        <input type="text" class="input is-expanded" placeholder="Enter text" required="required"
                               v-model="message" @keyup.enter="sendMessage">
                    </p>
                    <p class="control">
                        <a class="button" :class="{ 'is-disabled' : !haveSymbolsInMessage }" @click="sendMessage">
                            Send
                        </a>
                    </p>
                </div>
            </div>
        </transition>
    </div>
</template>

<script>
    import Message from './Message'

    export default {
        components: {
            'message' : Message
        },

        props: ['roomId'],

        data() {
            return {
                message: '',
                room: {},
                messages: [],
                users: []
            }
        },

        computed: {
            haveSymbolsInMessage() {
                return this.message.length >= 3
            }
        },

        created() {
            this.getRoom()
            this.getMessages()

            Echo.join(`chat-room.${this.roomId}`)
                .listen('Message.MessageCreated', (newMessage) => {
                    this.messages.push(newMessage.message)
                })
                .listen('Message.MessageUpdated', (updatedMessage) => {
                    let foundMessage = _.find(this.messages, message => message.id === updatedMessage.message.id)
                    if(typeof foundMessage === 'undefined') return
                    foundMessage.text = updatedMessage.message.text
                })
                .listen('Message.MessageDeleting', (messageToDelete) => {
                    this.deleteMessage(messageToDelete.messageId)
                })
                .here((users) => {
                    this.users = users
                })
                .joining((user) => {
                    this.users.push(user)
                })
                .leaving((user) => {
                    this.users.pop(user)
                })
        },

        beforeDestroy() {
            Echo.leave(`chat-room.${this.roomId}`)
        },

        watch: {
            roomId: function() {
                this.getRoom()
                this.getMessages()
            }
        },

        methods: {
            getRoom() {
                axios.get(`/api/rooms/${this.roomId}`)
                    .then(response => {
                        this.room = response.data
                        this.$Progress.increase(50)
                    })
            },

            getMessages() {
                this.$Progress.start()
                axios.get(`/api/rooms/${this.roomId}/messages`)
                    .then(response => {
                        this.messages = _.orderBy(response.data, 'created_at')
                        this.$Progress.finish()
                    })
            },

            scrollLogDown() {
                this.$nextTick(() => this.$refs.chatLog.scrollTop = this.$refs.chatLog.scrollHeight);
            },

            sendMessage() {
                if(!this.haveSymbolsInMessage) return

                this.$refs.messageInput.classList.add('is-disabled')

                axios.post(`/api/rooms/${this.roomId}/messages`, { text: this.message })
                    .then(response => {
                        this.message = ''
                        this.$refs.messageInput.classList.remove('is-disabled')
                        this.messages.push(response.data)
                        this.scrollLogDown()
                    })
            },

            deleteMessage(id) {
                let index = _.findIndex(this.messages, message => message.id === id)
                if(index === -1) return
                this.messages.splice(index, 1)
            },

            mentionUser(name) {
                this.message += this.message.length >= 0 ? `@${name}` : ` @${name}`
            }
        }
    }
</script>

<style>
    .users-box {
        max-height: 200px;
    }

    .users-list {
        max-height: 150px;
        overflow-y: auto;
        margin: 0 0 0 4px;
        padding-bottom: 5px;
    }

    .users-list::-webkit-scrollbar {
        width: 6px;
    }

    .users-list::-webkit-scrollbar-track-piece {
        background-color: #f1f1f1;
    }

    .users-list::-webkit-scrollbar-thumb {
        height: 50px;
        background-color: #666;
        border-radius: 3px;
    }

    .tag {
        margin: 1px 2px;
    }

    .box-title {
        padding: 10px;
    }

    .chat-box {
        height: 500px;
    }

    .chat-log {
        height: 405px;
        max-height: 405px;
        overflow-y: auto;
        overflow-x: hidden;
        border-bottom: 1px solid #dbdbdb;
        border-top: 1px solid #dbdbdb;
    }

    .chat-log::-webkit-scrollbar {
        width: 6px;
    }

    .chat-log::-webkit-scrollbar-track-piece {
        background-color: #f1f1f1;
    }

    .chat-log::-webkit-scrollbar-thumb {
        height: 50px;
        background-color: #666;
        border-radius: 3px;
    }

    .chat-input {
        margin: .5em;
    }

    .message-leave-active {
        transition: all .5s;
    }

    .message-leave-to {
        line-height: 0;
        opacity: 0;
    }
</style>
