<template>
    <tr class="message-line">
        <td class="chat-message">
            <span class="time">{{ $moment(message.created_at).format('HH:mm:ss') }}</span>
            <a @click="mentionUser">{{ message.user.name }}</a>: {{ message.text }}
        </td>
        <td width="4%" class="message-buttons">
            <a v-if="hasRightsForMessage"
               @click="deleteMessage"
               class="delete is-small"
               style="margin-top: .25rem;"></a>
        </td>
    </tr>
</template>

<script>
    export default {
        props: ['message'],

        computed: {
            hasRightsForMessage() {
                if(_.some(this.$store.state.user.roles, {id: 1}) || _.some(this.$store.state.user.roles, {id: 2})) {
                    return true
                }

                return this.message.user.id === this.$store.state.user.id
                    && this.$moment(this.message.created_at) > this.$moment().subtract(10, 'minutes')
            }
        },

        methods: {
            deleteMessage() {
                axios.delete(`/api/messages/${this.message.id}`)
                    .then(() => {
                        this.$emit('message-deleted')
                    })
            },

            mentionUser() {
                this.$emit('mention')
            }
        }
    }
</script>

<style>
    .chat-message {
        word-break: break-all;
    }

    .chat-message .time {
        color: #7c7c7c;
    }

    .message-buttons {
        opacity: 0;
        transition: opacity .2s;
    }

    .message-line:hover > .message-buttons {
        opacity: 1;
    }
</style>
