<template>
    <div>
        <br>
        <div class="container">
            <section>
                <article-box :article-id="id"></article-box>
            </section>
            <br>
            <section>
                <article-messages :article-id="id"></article-messages>
            </section>
            <br>
        </div>
    </div>
</template>

<script>
    import Article from '../components/articles/Article'
    import ArticleMessages from '../components/articles/Messages'

    export default {
        components: {
            'article-box' : Article,
            'article-messages' : ArticleMessages
        },

        props: ['id']
    }
</script>
