<template>
    <div>
        <section class="hero is-info">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">
                        Lobby #{{ id }}
                    </h1>
                </div>
            </div>
        </section>
        <br>
        <section class="container">
            <div class="columns">
                <div class="column is-half">
                    <chat v-if="lobbyLoaded" :room-id="roomId"></chat>
                </div>
                <div class="column is-8-mobile is-offset-2-mobile">
                    <lobby :lobby-id="id"></lobby>
                </div>
            </div>
        </section>
        <br>
    </div>
</template>

<script>
    import Chat from '../components/chat/Chat'
    import Lobby from '../components/lobbies/Lobby'

    export default {
        components: {
            'chat' : Chat,
            'lobby' : Lobby,
        },

        props: ['id'],

        data() {
            return {
                roomId: Number,
                lobbyLoaded: false
            }
        },

        created() {
            this.$eventBus.$on('lobby-loaded', (lobby) => {
                this.roomId = lobby.room.id
                this.lobbyLoaded = true
            })
        }
    }
</script>
