<template>
    <div>
        <section class="hero is-info">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">
                        Match #{{ id }}
                    </h1>
                </div>
            </div>
        </section>
        <br>
        <section class="container">
            <match :match-id="id"></match>
        </section>
        <br>
    </div>
</template>

<script>
    import Match from '../components/matches/Match'

    export default {
        components: {
            'match' : Match
        },

        props: ['id']
    }
</script>
