<template>
    <div>
        <br>
        <div class="container">
            <section>
                <user :user-id="id"></user>
            </section>
            <br>
        </div>
    </div>
</template>

<script>
    import User from '../components/users/User'

    export default {
        components: {
            'user' : User,
        },

        props: ['id']
    }
</script>
