<template>
    <div>
        <section class="hero is-primary">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">
                        Welcome home!
                    </h1>
                    <h2 class="subtitle">
                        Here are some news for you.
                    </h2>
                </div>
            </div>
        </section>
        <br>
        <section class="container">
            <articles></articles>
        </section>
        <br>
    </div>
</template>

<script>
    import Articles from '../components/articles/Articles'

    export default {
        components: {
            'articles' : Articles
        }
    }
</script>
