<template>
    <div>
        <section class="hero is-info">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">
                        You are in lobbies section.
                    </h1>
                    <h2 class="subtitle">
                        Join or create your own.
                    </h2>
                </div>
            </div>
        </section>
        <br>
        <section class="container">
            <div class="columns">
                <div class="column is-half">
                    <!-- Hardcoded value cause 1 room is General room -->
                    <chat :room-id="1"></chat>
                </div>
                <div class="column">
                    <lobbies></lobbies>
                </div>
            </div>
        </section>
        <br>
    </div>
</template>

<script>
    import Chat from '../components/chat/Chat'
    import Lobbies from '../components/lobbies/Lobbies'

    export default {
        components: {
            'chat' : Chat,
            'lobbies' : Lobbies
        }
    }
</script>
