<template>
    <div>
        <section class="hero is-info">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">
                        Ongoing matches.
                    </h1>
                    <h2 class="subtitle">
                        Also matches played in past.
                    </h2>
                </div>
            </div>
        </section>
        <br>
        <section class="container">
            <matches></matches>
        </section>
        <br>
    </div>
</template>

<script>
    import Matches from '../components/matches/Matches'

    export default {
        components: {
            'matches': Matches
        }
    }
</script>

<style>

</style>
