<template>
    <div>
        <section class="hero is-warning">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">
                        You are in ranks session.
                    </h1>
                    <h2 class="subtitle">
                        Here you can push yourself to the 1st place.
                    </h2>
                </div>
            </div>
        </section>
        <br>
        <section class="container">
            <users></users>
        </section>
        <br>
    </div>
</template>

<script>
    import Users from '../components/users/Users'

    export default {
        components: {
            'users' : Users
        }
    }
</script>
