$short-duration: 0.25s
$middle-duration: 0.25s
$long-duration: 1s

.router-view-transition
  -webkit-animation-duration: $short-duration
  animation-duration: $short-duration
  -webkit-animation-fill-mode: both
  animation-fill-mode: both

.modal-box-transition
  -webkit-animation-duration: $short-duration
  animation-duration: $short-duration
  -webkit-animation-fill-mode: both
  animation-fill-mode: both

.first-box-transition
  -webkit-animation-duration: $long-duration
  animation-duration: $long-duration
  -webkit-animation-fill-mode: both
  animation-fill-mode: both

.second-box-transition
  -webkit-animation-delay: $short-duration
  animation-delay: $short-duration
  -webkit-animation-duration: $long-duration
  animation-duration: $long-duration
  -webkit-animation-fill-mode: both
  animation-fill-mode: both
