.box
  background-color: #2a3035 !important
  box-shadow: 0 0 !important

.nav-item a.is-tab.is-active, a.nav-item.is-tab.is-active
  border-bottom: 3px solid #eff1f6 !important

.modal-background
  background-color: rgba($white, 0.86) !important

.modal-card-head, .modal-card-foot
  background-color: $white-bis !important