<template>
    <transition enter-active-class="first-box-transition fadeIn"
                leave-active-class="first-box-transition fadeOut">
        <div v-if="match && match.id" class="columns">
            <div class="column is-half">
                <div class="box">
                    <div class="level is-mobile">
                        <div class="level-item has-text-centered">
                            <h1 class="title is-1" :style="{ color : teamBWinning }">
                                {{ match.team_a_score }}
                            </h1>
                        </div>
                        <div class="level-item has-text-centered">
                            <span class="tag is-dark">{{ matchStatus }}</span>
                        </div>
                        <div class="level-item has-text-centered">
                            <h1 class="title is-1" :style="{ color : teamAWinning }">
                                {{ match.team_b_score }}
                            </h1>
                        </div>
                    </div>
                    <div class="level is-mobile content">
                        <div class="level-item has-text-centered">
                            <ul style="list-style: none;">
                                <li v-for="user in match.team_a.users">
                                    <h4>{{ user.name }}</h4>
                                </li>
                                <li v-for="user in match.team_a.substitutions">
                                    <h4 style="color: #8a8a8a">{{ user.name }}</h4>
                                </li>
                            </ul>
                        </div>
                        <h2 class="level-item has-text-centered is-marginless">
                            vs
                        </h2>
                        <div class="level-item has-text-centered">
                            <ul style="list-style: none;">
                                <li v-for="user in match.team_b.users">
                                    <h4>{{ user.name }}</h4>
                                </li>
                                <li v-for="user in match.team_b.substitutions">
                                    <h4 style="color: #8a8a8a">{{ user.name }}</h4>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-8-mobile is-offset-2-mobile">
                <div class="box is-paddingless">
                    <img :src="$store.getters.getMap(match.game_info.map).image" class="image">
                    <br>
                    <div class="level is-mobile">
                        <div class="level-item has-text-centered">
                            <div>
                                <p class="heading">Region</p>
                                <p class="title">{{ $store.getters.getRegion(match.game_info.server.region).text }}</p>
                            </div>
                        </div>
                        <div class="level-item has-text-centered">
                            <div>
                                <p class="heading">Mode</p>
                                <p class="title">{{ $store.getters.getMode(match.game_info.mode).text }}</p>
                            </div>
                        </div>
                    </div>
                    <div v-if="match.status === 'starting'" class="has-text-centered">
                        <p style="padding: 0 11.5rem;">
                            Setting up config and making all shiny.
                            It will take around 1 to 5 minutes.
                        </p>
                    </div>
                    <div v-if="match.status !== 'finished' && match.status !== 'starting' && match.status !== 'not_finished'"
                         style="margin-top: 2rem; margin-bottom: 0.5rem;"
                         class="block has-text-centered">
                        <code>{{ match.game_info.server.ip}}:{{ match.game_info.server.port }}</code>
                        <br>
                        <a @click="joinServer" class="button is-success is-outlined is-medium">Join server</a>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </transition>
</template>

<script>
    export default {
        props: ['matchId'],

        data() {
            return {
                match: {},
                users: []
            }
        },

        computed: {
            teamAWinning() {
                return this.match.team_a_score > this.match.team_b_score ? '#9c9c9c' : ''
            },

            teamBWinning() {
                return this.match.team_a_score < this.match.team_b_score ? '#9c9c9c' : ''
            },

            matchStatus() {
                switch (this.match.status) {
                case 'starting':     return 'Setting up config'
                case 'not_started':  return 'Not Started'
                case 'in_process':   return 'In Process'
                case 'paused':       return 'Paused'
                case 'not_finished': return 'Not Finished'
                case 'finished':     return 'Finished'
                default:             return 'Unknown'
                }
            }
        },

        created() {
            this.getMatch()

            Echo.join(`match-room.${this.matchId}`)
                .listen('Match.MatchUpdated', (updatedMatch) => {
                    this.match = updatedMatch.match
                })
        },

        beforeDestroy() {
            if(this.$store.state.user.match === null) {
                Echo.leave(`match-room.${this.matchId}`)
            }
        },

        watch: {
            $route: function() {
                this.getMatch()
            }
        },

        methods: {
            getMatch() {
                this.$Progress.start()

                axios.get(`/api/matches/${this.matchId}`)
                    .then(response => {
                        this.match = response.data
                        this.$Progress.finish()
                    })
            },

            joinServer() {
                location.href=`steam://connect/${this.match.game_info.server.ip}:${this.match.game_info.server.port}`
            }
        }
    }
</script>
