<template>
    <transition appear-active-class="first-box-transition fadeIn" appear>
        <div>
            <h4 class="title is-4 has-text-centered"
                v-if="typeof matches.data === 'object' && matches.data.length === 0">
                No matches, yet.
            </h4>
            <transition enter-active-class="first-box-transition fadeIn"
                        leave-active-class="first-box-transition fadeOut">
                <div v-if="typeof matches.data === 'object' && matches.data.length > 0" class="box" style="padding: 1px;">
                    <table class="table matches-table is-striped">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Status</th>
                            <th>Team A Score</th>
                            <th>Team B Score</th>
                            <th>Date</th>
                        </tr>
                        </thead>
                        <transition-group enter-class="users-enter"
                                          enter-active-class="animated fadeIn"
                                          tag="tbody">
                            <tr v-for="match in matches.data" :key="match">
                                <td>
                                    <router-link :to="{ name: 'match', params: { id: match.id }}">
                                        Match #{{ match.id }}
                                    </router-link>
                                </td>
                                <td>{{ match.status }}</td>
                                <td :class="teamAWinning(match)">{{ match.team_a_score }}</td>
                                <td :class="teamBWinning(match)">{{ match.team_b_score }}</td>
                                <td>{{ $moment(match.updated_at).format('YYYY-MM-DD HH:mm') }}</td>
                            </tr>
                        </transition-group>
                    </table>
                </div>
            </transition>
            <pagination :data="matches" :limit="5" @pagination-change-page="getMatches"></pagination>
        </div>
    </transition>
</template>

<script>
    import Pagination from '../Pagination'

    export default {
        components: {
            'pagination' : Pagination
        },

        data() {
            return {
                matches: {
                    data: ''
                }
            }
        },

        created() {
            this.getMatches()

            Echo.channel('matches')
                .listen('Match.MatchUpdated', (updatedMatch) => {
                    let foundMatch = _.find(this.matches.data, match => match.id === updatedMatch.match.id)
                    if(typeof foundMatch === 'undefined') return
                    foundMatch.status = updatedMatch.match.status
                    foundMatch.team_a_score = updatedMatch.match.team_a_score
                    foundMatch.team_b_score = updatedMatch.match.team_b_score
                    foundMatch.updated_at = updatedMatch.match.updated_at
                })
        },

        beforeDestroy() {
            Echo.leave('matches')
        },

        methods: {
            getMatches(page) {
                if (typeof page === 'undefined') {
                    page = 1
                }

                this.$Progress.start()

                axios.get(`/api/matches?page=${page}`)
                    .then(repsonse => {
                        this.matches = repsonse.data
                        this.$Progress.finish()
                    })
            },

            teamAWinning(match) {
                return match.team_a_score > match.team_b_score ? 'winning-team' : 'loosing-team'
            },

            teamBWinning(match) {
                return match.team_b_score > match.team_a_score ? 'winning-team' : 'loosing-team'
            }
        }
    }
</script>

<style>
    td.winning-team {
        background-color: #b2ffd1;
        border: 1px solid #95e695;
        border-width: 0 0 1px;
    }

    td.loosing-team {
        background-color: #f7d3d9;
        border: 1px solid #ffb2bf;
        border-width: 0 0 1px;
    }

    .matches-enter  {
        position: absolute;
    }

    .matches-table {
        margin: -1px;
        border-radius: 5px;
    }
</style>
