<template>
    <transition appear-active-class="first-box-transition fadeIn" appear>
        <div>
            <search path="users" placeholder="Name, SteamID or even rank of a user"
                    @search-changed="urlToSearch" @search-empty="urlBack"></search>
            <transition enter-active-class="first-box-transition fadeIn"
                        leave-active-class="first-box-transition fadeOut">
                <div v-if="typeof users.data === 'object'" class="box" style="padding: 1px;">
                    <table class="table users-table is-striped">
                        <thead>
                            <tr>
                                <th style="width: 80%;">Name</th>
                                <th style="width: 20%; text-align: center;">Rank</th>
                            </tr>
                        </thead>
                        <transition-group enter-class="users-enter"
                                          enter-active-class="animated fadeIn"
                                          tag="tbody" :class="{ 'users-table-pos' : firstPage }">
                            <tr v-for="user in users.data" :key="user">
                                <td style="width: 80%;">
                                    <router-link :to="{ name: 'user', params: { id: user.id  }}">
                                        {{ user.name }}
                                    </router-link>
                                </td>
                                <td style="width: 20%; text-align: center;">{{ user.rank }}</td>
                            </tr>
                        </transition-group>
                    </table>
                </div>
            </transition>
            <pagination :data="users" :limit="5" @pagination-change-page="getUsers"></pagination>
        </div>
    </transition>
</template>

<script>
    import Pagination from '../Pagination'
    import Search from '../Search'

    export default {
        components: {
            'search' : Search,
            'pagination' : Pagination
        },

        data() {
            return {
                users: {
                    data: ''
                },
                firstPage: false,
                url: '/api/users'
            }
        },

        created() {
            this.getUsers()
        },

        methods: {
            getUsers(page) {
                if (typeof page === 'undefined') {
                    page = 1
                }

                this.$Progress.start()

                axios.get(this.url, { params: { page :page }})
                    .then(repsonse => {
                        this.users = repsonse.data
                        this.$Progress.finish()
                        page === 1 && this.url === '/api/users' ? this.firstPage = true : this.firstPage = false
                    })
            },

            urlToSearch(url) {
                this.url = url
                this.getUsers()
            },

            urlBack() {
                this.url = '/api/users'
                this.getUsers()
            }
        }
    }
</script>

<!-- sass there cause it's simpler -->
<style lang="sass">
.users-enter
  position: absolute

.users-table
  margin: -1px
  border-radius: 5px

.users-table-pos tr:nth-child(1)
  color: #d2bb10
  background: #fff7e5
  font-size: 1.4rem
  a
    color: #d2bb10

.users-table-pos tr:nth-child(2)
  color: #444
  background: #efefef !important
  font-size: 1.3rem
  a
    color: #444

.users-table-pos tr:nth-child(3)
  color: #444
  background: #e6e0d6
  font-size: 1.2rem
  a
    color: #444
</style>
