<template>
    <transition enter-active-class="first-box-transition fadeIn"
                leave-active-class="first-box-transition fadeOut">
        <div v-if="user && user.id" class="box">
            <div class="columns">
                <div class="column is-2">
                    <div class="image avatar">
                        <img :src="user.avatar">
                    </div>
                </div>
                <div class="column">
                    <h2 class="title">
                        {{ user.name }}
                        <a style="color: #001829;"
                           @click="goToSteamProfile(`http://steamcommunity.com/profiles/${user.steam_id}`)">
                            <i class="fa fa-steam" aria-hidden="true"></i>
                        </a>
                    </h2>
                    <div style="margin-bottom: 1rem;">
                        <span v-for="role in user.roles"
                              class="tag"
                              :class="{ 'is-danger' : role.id === 1, 'is-warning' : role.id === 3 }">
                            {{ role.name }}
                        </span>
                    </div>
                    <h4 class="title is-4">Rank: {{ user.rank }}</h4>
                    <h5 class="title is-5">Games played: {{ stat.games_played }}</h5>
                    <h5 class="title is-5" v-if="stat.games_won > 0">
                        Win rate: {{ (stat.games_won / stat.games_played) * 100 }}%
                    </h5>
                    <h5 class="title is-5">Reports count: {{ stat.reports }}</h5>
                    <div v-if="isServerAdmin">
                        <div v-if="token.length === 0">
                            <a @click="obtainToken" class="button is-black">
                                Get token for server plugin
                            </a>
                            <br>
                            <span>This click will destroy existing tokens</span>
                        </div>
                        <code v-if="token.length > 0" style="word-break: break-all;">{{ token }}</code>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</template>

<script>
    export default {
        props: ['userId'],

        data() {
            return {
                user: {},
                stat: {},
                token: ''
            }
        },

        computed: {
            isServerAdmin() {
                return _.some(this.$store.state.user.roles, {id: 3})
                    && this.user.id === this.$store.state.user.id
            }
        },

        created() {
            this.getUser()
            this.getStat()
        },

        watch: {
            userId: function() {
                this.getUser()
                this.getStat()
            }
        },

        methods: {
            getUser() {
                this.$Progress.start()

                axios.get(`/api/users/${this.userId}`)
                    .then(response => {
                        this.user = response.data
                        this.$Progress.finish()
                    })
            },

            getStat() {
                axios.get(`/api/users/${this.userId}/stat`)
                    .then(response => {this.stat = response.data })
            },

            obtainToken() {
                axios.get('/api/auth/token')
                    .then(response => {
                        this.token = response.data

                        iziToast.warning({
                            balloon: true,
                            timeout: false,
                            title: 'Important',
                            message: 'You can see this token only now! Copy and store it in a safe place!'
                        })
                    })
                    .catch(() => {
                        iziToast.error({
                            title: 'Whoops',
                            message: 'Seems like no token exists for you.'
                        })
                    })
            },

            goToSteamProfile(url) {
                window.open(url, '_blank')
            }
        }
    }
</script>
